.logo {
  margin: 10px;
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px 15px;
}

.card {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
  height: 200px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}


.filter{
  display: flex;
}

.search-box {
  margin: 10px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  border: 1px solid black;
}

.shimmer-image {
  width: 100%;
  height: 150px;
  background-color: rgb(116, 116, 116);
}

.shimmer-content {
  margin: 10px;
  width: 100px;
  height: 20px;
  background-color: gray;
}

.login-button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

