.logo {
  margin: 10px;
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px 15px;
}

.card {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
  height: 200px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}